.login_bg {
  background: url('~@assets/img/cimg.png') no-repeat center;
  height: 800px;
  background-size: 1920px 800px;
  position: relative;
}

.login_box {
  width: 420px;
  background-color: #fff;
  position: absolute;
  top: 100px;
  right: 200px;
  padding: 10px 20px;
  box-sizing: border-box;

  .other {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid #999;
    margin: 30px auto 0;

    i {
      font-size: 16px;
      margin-left: 10px;
    }

    .login_evm {
      font-size: 30px;
      margin-left: 10px;
      color: #000;
    }

    .mm {
      padding-top: 12px;
    }
  }

  .login_btn {
    text-align: center;
    color: #fff;
    width: 300px;
    height: 40px;
    line-height: 40px;
    margin: 30px auto 0;
    font-size: 16px;
    background-color: #01b0b7;
  }

  &.login_enroll {
    background-color: #fff;
    position: absolute;
    padding: 10px 20px 60px;

    .el-input-group__append {
      background-color: #01b0b7;
      color: #fff;
      font-size: 16px;
    }

    .login_body {
      padding: 10px 26px 0;
    }

    .login_title {
      display: flex;

      div {
        width: 50%;
        text-align: center;
        padding: 6px 0;
        border-bottom: 1px solid #999;

        &.active {
          background-color: #01b0b7;
          color: #fff;
        }
      }
    }
  }

  .login_btn_enroll {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;

    button {
      width: 106px;
      height: 26px;
      line-height: 26px;
      border-radius: 16px;
      padding: 0;

      &.login {
        background-color: #01b0b7;
        color: #fff;
      }
    }
  }

  .login_top {
    font-size: 20px;
    text-align: right;
  }

  .login_title {
    text-align: center;
    font-size: 20px;

    i {
      margin-right: 20px;
    }

    .icon-weixin {
      font-size: 24px;
      color: #67c23a;
    }
  }

  .login_body {
    padding: 30px 26px 0;

    &.login_evm {
      text-align: center;

      .evm {
        width: 280px;
      }
    }

    .el-input {
      input {
        height: 36px;
        line-height: 36px;
        font-size: 14px;
      }

      margin: 10px 0;
    }

    .remember {
      .i {
        width: 14px;
        height: 14px;
        border: 1px solid #999;
        margin-right: 14px;
        position: relative;
        top: 2px;

        &.icon-duihao {
          font-size: 16px;
          color: transparent;
          line-height: 16px;

          &.is_agree {
            color: #f00;
          }
        }
      }

      .link {
        margin-left: 2px;
      }

      span {
        display: inline-block;
        line-height: 32px;
        font-size: 14px;
      }
    }
  }
}

.evm_bg_img {
  background: url('~@assets/img/timg.png') no-repeat;
  background-size: 580px 86px;
  width: 580px;
  height: 86px;
  margin: 40px auto;
  text-align: right;
  box-sizing: border-box;
  padding-right: 25px;

  i {
    font-size: 50px;
    margin-left: 20px;
    line-height: 86px;
    background-color: #fff;
  }
}

.frem_body {
  background-color: #f0f0f0;
  padding: 20px 0 40px;

  .part1 {
    width: 1200px;
    margin: 0 auto;

    .left {
      width: 940px;
      background-color: #fff;
    }

    .right {
      width: 240px;
    }
  }

  .part2 {
    background-color: #fff;
    padding: 6px 30px;
    box-sizing: border-box;
    margin-top: 20px;

    .left {
      div {
        display: inline-block;
        font-size: 16px;
        padding: 0 30px;

        &.active {
          color: #01b0b7;
        }
      }
    }
  }

  .part3 {
    padding: 40px;
    background-color: #fff;
    margin-top: 6px;

    .md {
      margin-bottom: 40px;
    }
  }
}

.search_btn {
  display: flex;
  justify-content: space-between;
  width: 1592px;
  margin: 0 auto;
  padding: 20px 0 6px;

  .right {
    padding-top: 26px;

    .blue {
      color: #35c0c6;
    }

    i {
      background-color: #999;
      color: #fff;
      padding: 2px;
      margin: 0 6px;

      &.is_active {
        background-color: #35c0c6;
      }
    }
  }

  button {
    font-size: 20px;
    padding: 12px 28px;

    &.is_active {
      background-color: #35c0c6;
      color: #fff;
    }

    i {
      margin-left: 6px;
    }
  }
}

.text_info {
  width: 1592px;
  margin: 10px auto 4px;
  padding: 20px;
  color: #666;
  border: 1px solid #eee;
  font-size: 20px;
  display: flex;
  box-sizing: border-box;

  .left {
    width: 360px;
    padding: 10px 0;
  }

  .right {
    span {
      display: inline-block;
      padding: 10px;
      cursor: pointer;

      &.is_active {
        color: #35C0C6;
      }
    }
  }
}

.title_Progress {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;

  .left {
    .el-breadcrumb__item {
      &:last-child {
        .el-breadcrumb__inner {
          font-size: 16px;
          color: #0644eb;
        }
      }

      .el-breadcrumb__inner.is-link, .el-breadcrumb__separator {
        font-size: 16px;
        color: #0644eb;
      }
    }
  }
}

.title_img {
  width: 100%;
  height: 217px;
  background: url('~@assets/img/cimg.png');
}

.commodity {
  background-color: #eee;
  padding: 20px 0;

  .box_item {
    width: 100%;

    .small_goods {
      background-color: #fff;
      margin-left: 10px;
      padding: 7px 0;
      box-sizing: border-box;
      width: 340px;
      justify-content: space-between;

      img {
        width: 162px;
        height: 122px;
      }

      .info {
        margin-top: 30px;
        width: 160px;

        p {
          color: #666666;
          font-size: 14px;
          margin-bottom: 6px;
        }

        .detail {
          width: 100px;
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          font-size: 10px;

          .money {
            color: #ff0000;
          }
        }
      }
    }
  }

  .commodity_main {
    width: 1592px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;

    .commodity_main_w_box {
      width: 135px;
      height: 135px;
      background-color: #fff;
    }
  }
}

#enterp {
  padding: 10px 40px;
  background-color: #f0f0f0;
}

.card_body {
  padding: 10px 40px;

  .fujian {
    display: flex;
    padding: 10px 0 30px 100px;
    border-top: 1px solid #999;

    .left {
      margin-right: 40px;
      padding-top: 15px;
    }

    .item {
      i {
        font-size: 40px;
        color: #666;
      }

      p {
        padding-top: 6px;
        font-size: 12px;
      }
    }
  }

  .part_add {
    text-align: center;
    padding: 20px 0 50px;

    .el-icon-plus {
      background-color: #999;
      padding: 10px;
      border-radius: 50%;
    }
  }

  .info3 {
    .el-textarea {
      width: 650px;

      textarea {
        height: 160px;
      }
    }
  }

  .part2 {
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;

    .import {
      color: #f00;
      margin-right: 6px;
      line-height: 30px;

      &.none {
        color: transparent;
      }
    }

    .text {
      line-height: 30px;
    }

    .el-textarea {
      width: 950px;

      textarea {
        height: 160px;
      }
    }
  }

  .part1 {
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
    border-bottom: 2px solid #eee;

    .left {
      margin-right: 30px;

      img {
        width: 140px;
        height: 140px;
      }
    }

    .right {
      & > div {
        display: flex;
        padding-bottom: 10px;

        .import {
          color: #f00;
          margin-right: 6px;
          line-height: 30px;

          &.none {
            color: transparent;
          }
        }

        .text {
          line-height: 30px;
        }

        .el-input {
          width: 500px;
        }

        input {
          width: 500px;
        }

        .info_span {
          line-height: 30px;
          font-size: 10px;
          margin-left: 10px;
        }
      }
    }
  }
}

#enterp_msg {
  background-color: #f0f0f0;
  padding: 10px 0 40px;

  .part1 {
    padding: 20px 40px;
    background-color: #fff;
    margin-bottom: 10px;
  }

  .part2 {
    display: flex;
    justify-content: space-between;

    .left {
      width: 200px;
    }

    .msg1_right {
      width: 984px;
      box-sizing: border-box;
      padding: 40px;
      color: #666;
      background-color: #fff;

      img {
        width: 100%;
        margin-bottom: 20px;
      }

      p {
        line-height: 24px;

        &.pt {
          padding-top: 60px;
        }
      }

      .tin {
        display: block;
        margin-bottom: 30px;
      }
    }

    .msg2_right {
      width: 984px;
      box-sizing: border-box;
      padding: 40px;
      color: #666;
      background-color: #fff;
    }

    .msg3_right {
      width: 984px;
      box-sizing: border-box;
      padding: 30px;
      color: #666;
      background-color: #fff;

      .item_part {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
      }
    }

    .msg4_right {
      width: 984px;
      box-sizing: border-box;
      color: #666;

      .msg4_right_box {
        background-color: #fff;
        padding: 10px 0 20px;
        margin-bottom: 20px;

        &>.title {
          width: 86px;
          background-color: #eee;
          padding: 4px 0;
          text-align: center;
          font-size: 16px;
          border-radius: 0 40px 40px 0;
        }

        .box_item {
          padding: 20px 30px 0;
        }

        .more {
          text-align: center;
          padding-top: 10px;

          i {
            font-size: 28px;
          }
        }
      }
    }

    .msg8_right {
      width: 984px;
      box-sizing: border-box;
      padding: 40px;
      color: #666;
      background-color: #fff;

      img {
        width: 100%;
        margin: 20px 0;
      }

      p {
        line-height: 24px;

        &.pt {
          padding-top: 60px;
        }
      }

      .tin {
        display: block;
        margin-bottom: 30px;
      }

      .say {
        text-align: center;
        padding-top: 60px;

        button {
          padding: 10px 60px;
          font-size: 18px;
          background-color: #07E0BF;
          color: #fff;
        }
      }
    }

    .msg6_right {
      width: 984px;
      box-sizing: border-box;
      background-color: #fff;
      padding: 20px;

      .el-table th {
        background-color: #eee;
      }

      .el-table tr:nth-child(2n+1) {
        background-color: #f7f7f7;
      }
    }

    .msg5_right {
      width: 984px;
      box-sizing: border-box;

      .msg5_right_part1 {
        display: flex;
        padding: 30px 20px;
        background-color: #fff;

        .img {
          width: 503px;

          img {
            height: 335px;
          }
        }

        .text {
          width: 420px;
          margin-left: 20px;

          .box1 {
            color: #666;
            padding: 0 6px 10px;
            border-bottom: 2px solid #eee;

            .title {
              color: #984747;
              font-weight: bold;
              font-size: 18px;
              padding-bottom: 16px;
            }

            .date {
              font-size: 12px;
            }

            p {
              line-height: 36px;
            }
          }

          .box2 {
            color: #666;
            padding: 10px 6px 0px;
          }
        }
      }

      .msg5_right_part2 {
        margin-top: 20px;
        padding: 20px;
        background-color: #fff;
        height: 352px;

        .title {
          color: #666666;
          font-weight: bold;
          border-bottom: 2px solid #999;
          padding: 0 6px 6px 6px;
          margin-bottom: 20px;
        }

        .info {
          line-height: 40px;
        }
      }
    }
  }
}

#enterp_msg3_detail {
  background-color: #f0f0f0;
  padding-bottom: 60px;

  .part1 {
    border-bottom: 1px solid #999;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .enterp_t {
    font-size: 20px;
    padding: 20px 0;
  }

  .date_from {
    background-color: #999;
    text-align: center;
    padding: 6px 0;

    span {
      display: inline-block;
      margin-right: 20px;
    }
  }

  .enterp_msg3_body {
    background-color: #fff;
    padding: 20px 40px;
    margin-bottom: 40px;

    .en_item1 {
      display: flex;
      justify-content: flex-start;
      padding-bottom: 10px;
      border-bottom: 1px solid #999;

      img {
        width: 195px;
        height: 130px;
      }

      .en_right {
        padding-left: 20px;

        p {
          font-size: 16px;
          color: #666;
          line-height: 24px;
        }
      }
    }

    .en_item2 {
      .title {
        font-weight: bold;
        line-height: 40px;
        font-size: 16px;
      }

      p.tin {
        line-height: 30px;
      }

      .img {
        text-align: center;
        padding: 20px 0;

        img {
          width: 524px;
          height: 350px;
        }
      }
    }
  }
}

.crow_detail {
  padding-bottom: 40px;

  .part0 {
    padding: 10px 0 10px;
  }

  .part2 {
    color: #333;
    margin-top: 16px;

    .left {
      width: 910px;

      .p2_p1 {
        padding: 20px 30px;
        margin-bottom: 16px;

        p {
          line-height: 26px;
        }
      }

      .p2_p2 {
        padding: 20px 30px;

        textarea {
          height: 160px;
        }

        .cro_submit {
          text-align: right;
          margin: 10px auto;
          padding-right: 14px;
        }
      }
    }

    .right {
      width: 272px;

      // height: 654px;
      .title_r {
        text-align: center;
        padding: 14px 0;
        border-bottom: 1px solid #eee;
      }

      .item {
        padding: 10px;

        .h2_part9_item {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.no_bg_huojian {
  .el-dialog {
    background-color: transparent;
    box-shadow: none;
  }

  .el-dialog__body {
    padding: 0;
  }

  .el-dialog__header {
    box-shadow: none;
  }

  .el-dialog__headerbtn {
    top: 20px;
    right: 10px;
    z-index: 4;
  }
}

.huojian_bg_dia {
  background: url('~@assets/img/huojian.png');
  width: 432px;
  height: 703px;
  box-sizing: border-box;
  padding: 130px 30px 0;
  position: relative;
  top: -130px;

  .title_l {
    color: #fff;
    margin-bottom: 210px;
  }

  .huojian_body {
    padding: 20px;
    border-bottom: 2px dotted #ccc;

    .title {
      font-weight: bold;
      margin-bottom: 20px;
    }

    p {
      padding: 0 0 16px 20px;
    }

    .p {
      padding: 20px 0 6px 20px;
      color: #999;
    }
  }

  .pull {
    color: #ce6104;
    text-align: center;
    padding: 30px 0 40px;
  }

  .btn {
    text-align: center;

    button {
      padding: 8px 40px;
      border-radius: 30px;
    }
  }
}

.cro_zhiding_body {
  .img {
    text-align: center;
    padding: 20px 0 20px;
  }

  p {
    text-align: center;
    line-height: 26px;
  }

  .orange_p {
    color: #CC730A;
  }

  .submit {
    width: 80%;
    margin: 10px auto 0;
    text-align: center;
    border-top: 1px solid #eee;
    padding: 20px 0;

    button {
      padding: 8px 40px;
      border-radius: 30px;
    }
  }
}

.crowds_dia_body {
  padding: 10px;

  .point_red {
    line-height: 36px;
    text-align: right;
    padding-right: 3px;
  }

  .el-textarea {
    margin-bottom: 20px;
  }

  textarea {
    height: 120px;
  }

  p {
    line-height: 32px;
    padding-bottom: 10px;
  }

  .p {
    padding-left: 6px;
  }
}

.crowds4_dialog_body {
  padding: 10px 20px 20px;

  .info {
    text-align: center;
    margin-bottom: 20px;

    img {
      width: 36px;
    }

    span {
      font-weight: bold;
      margin-left: 10px;
    }
  }

  .expert_p {
    text-align: center;
    margin-bottom: 10px;

    .icon-erweima {
      font-size: 160px;
    }
  }

  .crowds4_p {
    text-align: center;
    margin-bottom: 30px;

    &.expert_p {
      border-bottom: 1px solid #ccc;
      padding: 20px 0;
    }
  }

  .mb10 {
    margin-bottom: 10px;
  }

  .el-textarea {
    margin-bottom: 20px;

    textarea {
      height: 80px;
    }
  }
}

.crowds_publish_body.wm {
  margin-top: 16px;
  margin-bottom: 40px;
  padding-bottom: 40px;

  .img_light {
    padding-bottom: 40px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 20px;
  }

  .textarea_light {
    padding: 0 80px;

    textarea {
      height: 200px;
    }
  }

  .title_c {
    padding: 8px 20px;
    background-color: #ccc;
    color: #000;
  }

  .content {
    padding: 60px 80px 20px;

    .left {
      width: 150px;

      img {
        width: 100%;
      }

      p {
        text-align: center;
        padding-top: 20px;
        font-size: 18px;
        color: #666;
      }
    }

    .right {
      width: 850px;
      color: #666;

      .el-row {
        padding-bottom: 10px;

        .t_right {
          padding-right: 6px;
          line-height: 30px;
        }

        .p {
          line-height: 30px;
        }

        textarea {
          height: 80px;
        }

        .el-icon-tickets {
          font-size: 26px;
          margin-right: 6px;
        }
      }
    }
  }

  .crowds_pub_foot {
    width: 80%;
    margin: 0 auto;

    .part1 {
      text-align: center;
      padding: 30px 0 40px;
      border-top: 1px solid #ccc;
    }

    .part2 {
      text-align: center;

      button {
        padding: 4px 20px;
        border-radius: 20px;
      }

      .blue_btn {
        margin-left: 60px;
      }
    }
  }
}

.crow_agreement_body {
  font-size: 12px;
  padding: 20px 50px 100px;

  .title {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 16px;
  }

  p {
    margin-bottom: 16px;
    line-height: 16px;
  }

  .title_c {
    margin-top: 40px;
  }
}

.us_bg_img {
  background: url('~@assets/img/us.png') no-repeat center;
  height: 350px;
  background-size: 1920px 350px;
}

.us_body {
  padding-top: 20px;

  .left {
    width: 150px;
    height: 140px;
  }

  .item_box_us5 {
    padding-bottom: 50px;

    .fw_t {
      font-weight: bold;
    }

    .title_b {
      font-size: 12px;
      border-bottom: 2px dotted #999;
      padding-bottom: 8px;
      margin-bottom: 20px;
    }

    p {
      line-height: 20px;
      color: #666;
      margin-bottom: 10px;
    }

    .img {
      text-align: center;
      padding: 10px 0 20px;

      img {
        width: 60%;
      }
    }
  }

  .right {
    width: 1016px;
    padding-bottom: 160px;

    .item_box_us4 {
      p {
        line-height: 24px;
        color: #666;
      }
    }

    .item_box_us3 {
      p {
        font-size: 12px;
        line-height: 24px;
        margin-bottom: 30px;
      }

      h3 {
        color: #C67200;
        line-height: 30px;
      }

      .img {
        margin-top: 30px;

        img {
          width: 100%;
        }
      }
    }

    .item_box_us2 {
      padding: 20px 0;
      border-bottom: 3px dotted #ccc;

      .title {
        .fw {
          font-weight: bold;
          margin-right: 100px;
        }

        margin-bottom: 10px;
      }
    }
  }

  .title_box {
    padding-right: 10px;
    margin-bottom: 6px;
  }

  .us_text {
    padding-top: 20px;
    width: 570px;
    line-height: 30px;
    font-size: 12px;
  }

  .us2_r_l {
    width: 680px;
    line-height: 30px;
    font-size: 12px;
  }

  .img_img {
    width: 410px;

    img {
      width: 100%;
    }
  }

  .img_us2 {
    width: 300px;

    img {
      width: 100%;
    }
  }
}

.ptb_blue {
  border-top: 3px solid #01b0b7;
}

.show_title_for_num {
  font-size: 12px;
  color: #333;
  background-color: #01b0b7;
  padding: 3px 0;
}

.admin_body {
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #f0f0f0;

  .right {
    width: 936px;

    .up_img_box {
      background-color: #fff;
      border-radius: 8px;
      padding: 40px 30px 0;
      height: 600px;

      .p {
        padding-left: 30px;
        margin-right: 10px;
      }

      h2 {
        padding: 20px 0 20px 30px;
        font-weight: bold;

        span {
          color: #E58200;
        }
      }

      .p2 {
        border-top: 1px solid #999999;
        padding: 10px 0 10px 30px;
        font-size: 12px;
        color: #999;
      }

      .btn {
        text-align: center;
        padding-top: 20px;
      }
    }

    .time_top {
      padding: 6px 0 20px 60px;

      .t {
        font-size: 18px;
        position: relative;
        top: -4px;
      }

      .time {
        background-color: #01b0b7;
        font-size: 24px;
        color: #fff;
        padding: 2px 20px;
        margin-left: 10px;
      }
    }

    .part2 {
      border-radius: 8px;
      margin-top: 20px;
      padding: 0 20px;
      height: 700px;
      background-color: #fff;

      .t_title {
        padding: 10px 0;
      }
    }
  }
}

.admin_ad1 {
  img {
    margin-right: 20px;
  }

  .active {
    color: #F88F00;
  }
}

#play {
  .pl_title {
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
    margin-bottom: 10px;
    width: 200px;
    background-color: #fff;
    padding: 3px;
  }

  .pl_body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;

    .bs {
      width: 384px;
      margin-bottom: 20px;
    }
  }

  .el-tabs__item {
    font-size: 16px;

    &.is-active, &:hover {
      color: #048462;
    }
  }

  .el-tabs__active-bar {
    background-color: #048462;
  }
}

.evm_pl {
  text-align: center;
  font-size: 12px;
  padding: 0px 0 10px;

  i {
    font-size: 160px;
    line-height: 1;
  }
}

.crowds2_body {
  .left {
    width: 780px;
    padding: 16px 30px 0;

    .title {
      padding: 0 0 6px 16px;
      border-bottom: 3px dotted #eee;
    }

    .content {
      padding: 20px;

      .box {
        border: 1px solid #ccc;
        border-radius: 8px;

        .p1 {
          padding: 20px;
          height: 240px;

          .item {
            background-color: #eee;
            width: 80%;
            padding: 6px;
            border-radius: 4px;
            margin-bottom: 6px;

            i {
              font-size: 24px;
              color: #0f0;
              margin-right: 6px;
            }
          }
        }

        .p2 {
          border-top: 1px solid #ccc;

          .p2_p1 {
            padding: 4px 10px 0 10px;

            .left_l {
              i {
                font-size: 24px;
                margin-right: 12px;
              }
            }

            .right_l {
              button {
                padding: 4px 26px;
              }
            }
          }

          .p2_p2 {
            textarea {
              width: 100%;
              padding: 6px 20px;
              border: none;
              border-radius: 8px;
            }
          }
        }
      }
    }
  }

  .right {
    width: 406px;
    padding: 16px 22px;

    .title {
      font-weight: bold;
      margin-bottom: 10px;
    }

    p {
      line-height: 20px;
      font-size: 12px;
    }

    img {
      width: 100%;
      margin: 6px 0;
    }

    .p {
      font-weight: bold;
      padding: 6px 0;
    }
  }
}

.crow_pop_body {
  text-align: center;
  border: 2px dotted #ccc;
  padding: 10px 0;

  .icon-erweima {
    font-size: 96px;
    line-height: 1;
  }
}

.project_nav {
  border-bottom: 2px solid #F88F00;
  padding: 20px 0 0 0;

  .main {
    display: flex;
    padding-left: 60px;

    .item {
      width: 60px;
      padding: 6px 20px 4px;
      text-align: center;
      cursor: pointer;

      &.active, &:hover {
        background-color: #F88F00;
        color: #fff;
      }
    }
  }
}

.project_body {
  .p_list_p1 {
    padding: 6px 20px 6px;
    margin-bottom: 40px;

    .el-table {
      height: 800px;
      overflow-y: auto;
    }
  }

  .part1 {
    width: 980px;
    margin: 20px auto 4px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;

    .item {
      text-align: center;
      width: 33%;
      padding: 10px 0;

      p {
        font-size: 18px;
        padding-bottom: 20px;
      }

      span {
        font-size: 26px;
        color: #f88f00;
      }

      &.br {
        border-right: 3px solid #ccc;
      }
    }
  }

  .title_for {
    padding: 10px 0;

    .btn_p4 {
      margin-left: 20px;
    }
  }

  .part2 {
    .bs {
      width: 32%;
    }
  }

  .part3 {
    margin: 16px 0;

    .right {
      padding: 30px 20px 0 0;
    }

    .p3_p2 {
      color: #999;
      padding: 10px 0 20px 0px;
      margin: 0 36px;
      border-top: 1px solid #ccc;

      .input_p1 {
        width: 426px;
        margin: 0 30px 0 6px;
      }
    }
  }

  .ss {
    height: 8px;
    background-color: #ccc;
    margin-bottom: 16px;
  }

  .part4 {
    flex-wrap: wrap;

    .item {
      width: 583px;
      margin-bottom: 30px;
    }
  }
}

.pro_detail1 {
  padding-bottom: 30px;

  .part1 {
    padding: 20px 40px;
    margin: 16px 0;
  }
}

.light_body {
  .c4_child {
    padding: 10px 110px 20px;
    margin-bottom: 30px;

    .c4_title {
      padding: 10px 0;
      font-size: 16px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 6px;
    }

    .el-row {
      border-bottom: 2px dotted #ccc;
      line-height: 30px;
      padding: 4px 0;
      cursor: pointer;

      img {
        margin-right: 6px;
      }
    }
  }

  .detial3_say {
    border-top: 1px solid #aaa;
    padding: 10px 40px 40px;

    textarea {
      border-radius: 10px;
      border: 1px solid #aaa;
      height: 160px;
    }

    .t_right {
      padding: 20px 40px 0 0;
    }
  }

  .light_title {
    padding: 20px 40px 10px;

    .left {
      width: 600px;

      .box {
        display: flex;

        .li {
          padding: 3px 16px;
          background-color: #ccc;
          color: #666;
          margin-right: 2px;

          &.active {
            background-color: #f88f00;
            color: #fff;
          }
        }
      }
    }
  }

  .part1 {
    padding: 40px 40px 20px 40px;
    border-radius: 20px;
    margin-bottom: 16px;

    .p_text {
      color: #666;
      padding: 20px;
      line-height: 26px;
    }

    .img_box {
      padding: 0 40px 20px;
    }

    .table_img {
      padding: 26px 40px 10px;
      border-top: 2px dotted #aaa;
      color: #999;
    }
  }
}

.more_icon {
  padding: 20px 0 30px;
  text-align: center;

  i {
    color: #999;
    font-size: 40px;
  }
}

.personal_body {
  padding: 10px 0 20px;

  .person_right {
    width: 946px;

    .person_title {
      padding: 10px 20px;
    }
  }
}

.datum_body {
  padding: 20px;
  min-height: 800px;
  color: #666;

  .sf {
    padding: 20px 0 30px;

    p {
      margin: 10px 0 0;
    }
  }

  .per1_title {
    font-size: 16px;
    border-bottom: 1px solid #aaa;
    padding-bottom: 6px;
  }

  .form_data {
    padding: 20px 0;
    color: #666;
    line-height: 32px;

    .el-button {
      background-color: #eee;
    }

    .img_in {
      line-height: 16px;

      .btn {
        line-height: 50px;
      }
    }

    .point_red {
      padding-right: 6px;
    }

    .el-row {
      margin-top: 10px;
    }
  }
}

.account_body {
  padding: 10px 40px;
  min-height: 800px;
  color: #666;

  .none_title_table {
    padding: 20px 0;
  }

  .home_title {
    padding: 10px 0 10px;
    font-size: 16px;
    border-bottom: 1px solid #999;
  }

  .h_title {
    padding: 16px 0;
  }

  .h_select {
    .item {
      width: 33.3%;
      text-align: center;
      background: #ccc;
      padding: 4px 0;

      &.active {
        background-color: #F88F00;
        color: #fff;
      }
    }
  }

  .zhb_info {
    padding: 20px 0 40px;
    border-bottom: 8px solid #eee;

    .btn {
      padding: 3px 30px;
      border-radius: 10px;
      background-color: #01B0B7;
      color: #fff;
      margin: 0 30px 0 60px;
    }

    .link {
      font-size: 12px;
    }

    .span {
      font-size: 24px;
      color: #f00;
      margin: 0 6px;
    }
  }

  .per_next {
    line-height: 40px;
    padding: 30px 0 30px;

    &.ptb {
      border-top: 2px dotted #ccc;
      margin-top: 50px;
    }

    .span {
      color: #DE6F00;
      margin: 0 40px 0 10px;
    }

    .btn_p5 {
      padding: 3px 20px;
      margin-left: 20px;
      color: #fff;
      background-color: #01B0B7;
    }

    .btn_p5_r {
      padding: 6px 50px;
      font-size: 16px;
      border-radius: 20px;
      color: #fff;
      background-color: #01B0B7;
    }
  }

  .acc_title {
    padding: 6px 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 6px;

    .a_l {
      font-size: 16px;
    }
  }

  .acc_title_l {
    padding: 6px 0;
    margin-bottom: 6px;

    .a_l {
      font-size: 16px;
    }
  }

  .pt {
    padding-top: 400px;
  }

  .pt10_title {
    color: #666;
    padding: 40px 0 10px 0;
  }
}

.personal_top_up.wm {
  margin-top: 12px;
  padding-bottom: 60px;
  color: #666;

  .mt.mbt {
    margin-top: 50px;
  }

  .pay {
    margin-left: 60px;
  }

  .p_l {
    width: 289px;
    padding: 10px 20px;
    box-sizing: border-box;

    .t_title {
      font-size: 16px;
      border-bottom: 1px solid #999;
      padding: 10px 0 6px;
      text-align: center;
      margin-bottom: 10px;
    }

    .p1 {
      line-height: 22px;
      margin-bottom: 16px;
    }
  }

  .p_r {
    width: 889px;
    box-sizing: border-box;
    padding: 30px;

    .el-row {
      margin-bottom: 18px;

      .t1 {
        text-align: right;
        padding-right: 6px;
      }
    }
  }

  .p_right {
    width: 889px;
    box-sizing: border-box;

    .part_box {
      padding: 0 0 30px;

      &.part_box1 {
        margin-bottom: 16px;
      }

      .p_title {
        padding: 5px 20px;
        background-color: #aaa;
        color: #eee;
      }

      .msg_info {
        width: 86%;
        border: 1px solid #999;
        border-radius: 10px;
        margin: 20px auto 30px;
        padding: 16px 30px;
        background-color: #eee;

        p {
          font-size: 16px;
          line-height: 32px;
        }
      }
      .msg_input{
        width 40%;
        margin 20px 0 30px 30px;
        .el-input{
          margin-bottom :10px;
        }
      }
    }
  }
}
.after_pay{
  width: 80%;
  margin: 30px auto 0;
  p{
    line-height: 28px;
    text-align: center;
    color: #777
  }
}
.records_body {
  padding: 30px 30px;
  .g_title {
    font-size: 16px;
    border-bottom: 1px solid #999;
    color: #666;
    width: 110px;
    padding-bottom: 6px;
    display: inline-bolck;
  }
  .r_auido{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding :20px 40px 
    .r_auido_item{
      width:48%;
      margin-bottom :26px
      .box{
        padding :10px 20px 20px;
        p{
          padding :6px 0 10px
        }
      }
    }
  }
  .el-table{
    margin-top: 6px;
  }
  th{
    background-color: #eee;
    color: #333;
  }
}