@charset 'utf-8'
.el-dialog__header {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5);
}

.pointer {
  cursor: pointer;
}

.boxs {
  box-sizing: border-box;
}

.big_blue {
  text-align: center;
  color: #fff;
  width: 100%;
  margin: 30px auto 0;
  font-size: 18px;
  background-color: #01b0b7;
}

.pb30 {
  padding-bottom: 30px;
}

.btn_defult {
  padding: 9px 50px;
  margin-bottom: 10px;
  background-color: #999;
  color: #fff;
}

.link_more {
  text-align: center;
  padding: 15px;
  color: #0027fd;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  letter-spacing: 20px;
  font-size: 20px;
  margin-bottom: 16px;
}

.link {
  color: #0027fd;
  cursor: pointer;
}

.t_center {
  text-align: center;
}

.t_left {
  text-align: left;
}

.t_right {
  text-align: right;
}

.no_wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.red {
  color: #f00;
}

.blue {
  color: #01b0b7;
}

.bs {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}

.bsr {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.tin {
  text-indent: 22px;
}

.jcs {
  display: flex;
  justify-content: space-between;
}

.wm {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.text_none {
  color: transparent;
}

.red2 {
  color: #800019;
}

.blue_btn {
  background-color: #01b0b7;
  color: #fff;
}

.point_red {
  color: #f00;

  &.none {
    color: transparent;
  }
}

.c_none {
  color: transparent;
}

.el-button.btn_p1 {
  padding: 6px 10px;
}

.el-button.btn_p2 {
  padding: 6px 20px;
}

.el-button.btn_p3 {
  padding: 6px 30px;
}

.el-button.btn_p4 {
  padding: 2px 30px;
}

.el-button.btn_p5 {
  padding: 2px 10px;
}

.el-input.input_p1 {
  input {
    padding: 2px 12px;
  }
}

.el-button.btn_ra {
  border-radius: 20px;
}

.el-button.btn_p6r {
  border-radius: 20px;
  color: #F88F00;
  padding: 3px 20px;
  background-color: #fff;
  border: 1px solid #F88F00;
}

.t_666 {
  color: #333333;
  padding: 0 2px;
}

.wmc {
  width: 1160px;
  margin: 0 auto;
}

.h16 {
  height: 16px;
}

.hidden {
  visibility: hidden;
}