@charset "utf-8";
.el-dialog__header{
    box-shadow:0px 1px 6px rgba(0,0,0,0.5);
}
.pointer{
    cursor:pointer;
}
.el-bottom.big_blue{
    text-align: center;
    color: #fff;
    width: 90%;
    height: 60px;
    margin: 30px auto 0;
    font-size: 26px;
    background-color: #01B0B7;
    display: block;
}
.btn_defult{
    padding: 9px 50px;
    margin-bottom: 10px;
    background-color: #999;
    color: #fff;
}
.link_more {
    text-align: center;
    padding: 15px;
    color: #0027fd;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    letter-spacing: 20px;
    font-size: 20px;
    margin-bottom: 16px;
    
}
.link {
    color: #0027fd;
    cursor: pointer;
}
.t_center{
    text-align:center;
}
.t_left{
    text-align :left;
}
.t_right{
    text-align:right;
}
.no_wrap{
    white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.red {
  color: #f00;
}
.blue {
  color: #01b0b7;
}
.bs{
  box-shadow:0px 3px 6px rgba(0,0,0,0.5);
}
.tin{
    text-indent:18px;
}
.jcs{
    display flex;
    justify-content: space-between;
}
.wm{
    width 1200px;
    margin 0 auto;
    box-sizing: border-box;
}