.table_list_money {
  width: 100%;
  padding: 10px;
  padding-bottom: 0;
  font-size: 12px;
  box-sizing: border-box;

  .item {
    padding-bottom: 16px;

    :last-child {
      padding-bottom: 0;
    }

    .user {
      color: #01B0B7;
    }

    .content {
      width: 164px;
      display: inline-block;
      margin-right: 8px;
    }

    .red {
      color: #f00;
    }
  }
}

.self_help_box {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.self_help {
  background: url('~@assets/img/houseBg.png');
  background-size: 290px auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 46px;

  img {
    width: 77px;
    height: 94px;
    margin-right: 6px;
  }

  p {
    font-size: 14px;
    color: #666;
    padding: 30px 0 20px 10px;
  }

  button {
    background-color: #07b536;
    color: #fff;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 30px;
  }
}

.part_tab_e {
  width: 240px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;

  .d_inflex {
    width: 100px;
    justify-content: space-between;
  }

  .link {
    line-height: 20px;
  }

  .item {
    border-bottom: 2px solid transparent;
    align-self: flex-end;
    padding-bottom: 5px;

    &.is_active {
      border-bottom: 2px solid #f88f00;
      color: #f88f00;
    }
  }
}

.hui_box_bg {
  width: 1200px;
  margin: 0 auto 20px;
}

.badge_num_box {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 0 20px;

  & > div {
    border-right: 1px solid #999;
    width: 100%;
    text-align: center;
    padding: 20px 0;

    &:last-child {
      border-right: none;
    }

    .badge_num {
      font-size: 46px;
      color: #666;
      position: relative;
      display: inline;
      padding-right: 28px;

      span {
        font-size: 30px;
        position: absolute;
        right: -10px;
        top: 0px;
      }
    }

    p {
      font-size: 18px;
      text-align: center;
      color: #666;
      padding-top: 16px;
    }
  }
}

.blue_title {
  padding-top: 20px;
  text-align: center;
  color: #06A8F0;

  .t1 {
    font-size: 26px;
  }

  .t2 {
    font-size: 10px;
    padding: 16px 0 10px;
  }
}

.bg_img_top {
  width: 100%;
  height: 560px;
  background: url('~@assets/img/cimg.png') no-repeat center center;
  background-size: 1920px 560px;
  position: relative;

  .click {
    position: absolute;
    font-size: 18px;
    color: #FFE600;
    background-color: #8D0909;
    padding: 6px 20px;
    border-radius: 0 20px 20px 0;
    left: 0;
    bottom: 100px;
    cursor: pointer;

    &.green {
      color: #fff;
      background-color: #016017;
    }
  }
}

.bg2_img_top {
  width: 100%;
  height: 218px;
  background: url('~@assets/img/cimg1.png') no-repeat center center;
  background-size: 1938px 218px;
  position: relative;

  .orange_btn {
    position: absolute;
    bottom: 30px;
    left: 100px;
    background-color: #F88509;
    color: #fff;
  }
}

.share {
  align-items: flex-end;

  .iconfont {
    margin-left: 8px;
  }
}

.new_box_item_sy {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: space-between;
  padding: 16px 10px 16px 6px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .left_img {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px;

    img {
      width: 262px;
      height: 148px;
    }
  }

  .right_content {
    width: 480px;
    padding-right: 15px;

    .title {
      font-size: 16px;
      padding-bottom: 10px;
      border-bottom: 1px solid #999;
      margin-bottom: 10px;
    }

    p {
      color: #666;
      padding-bottom: 16px;
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.paihang_list_com_sy {
  padding: 2px 20px 20px;

  .title {
    font-size: 18px;
    padding: 8px 8px 8px 0;
    border-bottom: 1px solid #bbb;
  }

  p {
    font-size: 12px;
    padding: 12px 0 5px;

    &:nth-child(-n + 16):nth-child(n + 11) {
      span {
        padding: 0;
      }
    }

    &:nth-child(2) {
      span {
        background-color: #d60000;
        color: #fff;
        border: 1px solid #d60000;
      }
    }

    &:nth-child(3) {
      span {
        background-color: #db671f;
        color: #fff;
        border: 1px solid #db671f;
      }
    }

    &:nth-child(4) {
      span {
        background-color: #b1ad54;
        color: #fff;
        border: 1px solid #b1ad54;
      }
    }

    span {
      font-size: 12px;
      border: 1px solid #01b0b7;
      padding: 0px 4px 0 3px;
      display: inline-block;
      color: #01b0b7;
      margin-right: 6px;
    }
  }
}

.home2_titlle_show_sy {
  width: 1200px;
  box-sizing: border-box;
  margin: 0 auto 10px;
  padding: 10px 20px 10px;
  display: flex;
  justify-content: space-between;
  background-color: #E7F7F8;

  .part_title_e {
    font-size: 18px;
    border-bottom: 1px solid #999;
    padding-right: 6px;
    padding-bottom: 6px;
    color: #333;

    span:nth-child(2) {
      font-size: 14px;
      margin-left: 12px;
      color: #999;
    }
  }
}

.new_goods_com_sy {
  position: relative;
  color: #333;

  .state {
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #00966E;
    color: #fff;
    padding: 6px 20px;
    border-radius: 0 20px 20px 0;
    z-index: 1;

    &.red {
      background-color: #690505;
    }
  }

  .wait_paly {
    position: relative;

    .full {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.7);
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        background-color: #fff;
        text-align: center;
        padding: 3px 20px;
        border-radius: 8px;
      }

      .show_pc {
        background-color: #00FFD8;
        margin-right: 60px;
      }

      .show_evm {
        padding: 0px;

        i {
          font-size: 120px;
        }
      }
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  .box {
    padding: 10px 20px;
  }

  .title {
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: bold;
  }

  p {
    font-size: 12px;
    margin-bottom: 6px;
  }
}

.new_head_title_sy {
  color: #333;
  border-bottom: 1px solid #333;
  display: inline-block;
  padding-bottom: 2px;
  margin-bottom: 10px;

  .title {
    font-size: 14px;
    font-weight: bold;
    margin-right: 4px;
  }

  span {
    font-size: 10px;
  }
}

.new_head_title1_sy {
  border-bottom: 1px solid #999;
  display: inline-block;
  padding-bottom: 6px;
  margin-bottom: 10px;
  padding-right: 20px;

  .title {
    font-size: 18px;
    margin-right: 10px;
    color: #666;
  }

  span {
    font-size: 10px;
    color: #999;
  }
}

.select_box_com_sy {
  font-size: 12px;
  box-sizing: border-box;
  padding: 16px 40px;
  color: #666;
  width: 100%;

  .d_flex {
    .title {
      width: 60px;
      padding-top: 9px;
    }
  }

  .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    line-height: 14px;

    &:last-child {
      margin-bottom: 0;
    }

    .title {
      width: 60px;
      padding-top: 4px;
    }

    ul {
      display: inline-flex;
      justify-content: flex-start;
      flex-grow: 1;

      li {
        padding: 4px 11px;
        border-radius: 4px;

        &.is_active {
          color: #fff;
          background-color: #32BDC2;
        }
      }
    }

    .more {
      font-size: 12px;
      padding-top: 4px;
      width: 46px;

      &.hot {
        width: 80px;
      }
    }
  }
}

.link_more .el-icon-caret-bottom {
  font-size: 26px;
}

.handle_com_sy {
  text-align: center;
  padding: 40px 0 100px;

  .el-button {
    background-color: #eee;
    border-radius: 35px;
    color: #666;
    font-size: 14px;
    box-sizing: border-box;
    padding: 6px 30px;

    &.next {
      margin-left: 80px;
    }

    &.is_active {
      background-color: #01b0b7;
      color: #fff;
    }
  }
}

.card_title_com_sy {
  background-color: #fff;

  .title {
    font-size: 16px;
    color: #fff;
    background-color: #999;
    padding: 4px 40px;
  }
}

.select_hot_com_sy {
  .el-row {
    line-height: 30px;
    padding-bottom: 16px;
  }

  .p {
    margin-right: 10px;
    padding: 2px 10px;
    border: 1px solid transparent;

    &.active {
      background-color: #32BDC2;
      color: #fff;
    }
  }
}

.img_text_one_sy {
  text-align: center;
  background-color: #fff;

  button {
    background-color: #01b0b7;
    color: #fff;
    padding: 4px 30px;
    border-radius: 10px;
  }
}

.firm_num_box_sy {
  padding: 30px 0;

  .firm_num_box {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .item {
    display: inline-flex;

    i {
      font-size: 50px;
      margin-right: 16px;
      line-height: 72px;
    }

    p {
      font-size: 28px;
      color: #666;
      text-align: center;
      line-height: 36px;
    }
  }
}

.xinxi_qiye_com_sy {
  .left {
    width: 800px;
    display: inline-flex;
    border-bottom: 1px dotted #666;

    &.no_b {
      border-bottom: none;
    }

    .img {
      img {
        width: 190px;
        height: 190px;
      }
    }

    .text {
      margin-left: 40px;

      .title {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 30px;

        &.blue {
          color: #27898D;
        }
      }

      .renzheng {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;

        span {
          display: inline-block;
          margin-right: 40px;
          color: #000;
          color: #E58E03;

          img {
            margin-right: 4px;
          }
        }
      }

      p {
        color: #999;
        font-size: 12px;
        margin-bottom: 30px;

        &.blue {
          color: #27898D;
        }
      }
    }
  }

  .right {
    button {
      padding: 4px 20px;
      color: #fff;
      background-color: #e58e03;
      border-radius: 20px;
      font-size: 14px;

      &.turn_top {
        background-color: #01B0B7;
        color: #fff;
        width: 108px;
        text-align: center;
        margin-bottom: 10px;
      }

      &.shouc {
        background-color: #fff;
        color: #666;
        width: 108px;
        text-align: center;
      }
    }
  }
}

.what_map_com_sy {
  .p_title {
    background-color: #fff;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0px;
    }

    .title {
      font-size: 14px;
      padding: 6px 4px;
      border-bottom: 1px solid #eee;
    }
  }

  .p1 {
    img {
      width: 200px;
      height: 200px;
    }
  }

  .p2 {
    .p_body {
      .blue {
        display: block;
        width: 80%;
        margin: 15px auto;
        background-color: #01b0b7;
        color: #fff;
      }

      .span {
        display: block;
        text-align: center;
        padding-bottom: 26px;
        font-size: 10px;

        i {
          color: #f00;
          font-size: 24px;
          margin-right: 6px;
        }
      }
    }
  }

  .p3 {
    p {
      padding: 16px;
      color: #666;
      line-height: 20px;
    }
  }

  .p4 {
    .p_body {
      padding: 10px 0px 10px 20px;
      color: #666;

      p {
        line-height: 40px;

        i {
          color: #f00;
          font-size: 22px;
          margin-right: 10px;
        }
      }
    }
  }

  .p5 {
    padding: 6px 16px;
    font-size: 12px;
  }
}

.zhengshu_big_com_sy {
  display: flex;
  padding: 20px 40px 20px;
  border-bottom: 1px solid #999;

  .zs1 {
    padding: 0 46px;
  }

  .zs2 {
    padding-top: 30px;
  }

  .zs_info {
    padding: 30px 50px;

    p {
      font-size: 20px;
      color: #666;
      line-height: 40px;
    }

    .box {
      font-size: 26px;
      border: 1px solid #01B0B7;
      color: #01B0B7;
      width: 140px;
      text-align: center;
      padding: 2px 0;
      border-radius: 4px;
      margin-top: 50px;

      i {
        margin-right: 6px;
        color: #cdda07;
      }
    }
  }
}

.upphoto_downtext_com_sy {
  padding-bottom: 20px;
  border-bottom: 1px solid #999;

  .img {
    width: 450px;

    img {
      width: 100%;
      height: auto;
    }
  }

  p {
    font-size: 16px;
    line-height: 28px;
    padding-left: 20px;
  }
}

.cart_leftphoto_righttext_sy {
  display: flex;

  &.bbt {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }

  img {
    width: 210px;
    height: 140px;
  }

  .right {
    padding-left: 30px;
    flex-grow: 1;

    .title {
      font-weight: bold;
      margin-bottom: 20px;
      font-size: 16px;
    }

    .p {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    p {
      i {
        margin-right: 6px;
      }
    }
  }
}

.img_lunbo_msg_sy {
  img {
    width: 100%;
  }

  .info {
    background-color: #666666;
    color: #fff;
    text-align: center;
    padding: 8px 0;
  }

  .point_span {
    text-align: center;
    padding-top: 6px;

    span {
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #666;
      margin: 0 4px;
    }
  }
}

.enterprise_pro_next_sy {
  display: flex;
  justify-content: space-around;

  .pro, .next {
    width: 256px;
    border-bottom: 1px solid #999;
  }

  .title {
    font-size: 18px;
    color: #0023e5;
    text-align: center;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    text-align: center;
    padding-bottom: 4px;
  }
}

.title_eng_com_sy {
  display: linle-bolck;
  padding-bottom: 6px;
  border-bottom: 2px solid #999;

  .t {
    font-size: 18px;
    font-weight: bold;
    margin-right: 6px;
  }

  .english {
    font-size: 12px;
  }
}

.box_part1_help_sy {
  width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 16px 30px;
  display: flex;
  justify-content: space-between;

  .left_img {
    img {
      width: 430px;
      height: auto;
    }
  }

  .left_info {
    display: flex;
    padding: 10px 70px 10px 10px;
    border-right: 4px dotted #ccc;

    .right_l {
      padding-left: 30px;

      .title_l {
        font-weight: bold;
        font-size: 18px;
        color: #666;
        margin-bottom: 20px;
      }

      .p {
        font-size: 12px;
        margin-bottom: 10px;

        img {
          width: 16px;
          margin-right: 6px;
        }

        i {
          margin-right: 6px;
        }
      }

      .orange_btn {
        border: 1px solid #F88509;
        color: #F88509;
        padding: 3px 30px;
        border-radius: 30px;
        margin-top: 10px;
      }
    }
  }

  .right_box {
    width: 660px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #333;

    &.crowds4_box {
      padding-top: 0px;
      width: 800px;
    }

    .right_content {
      display: flex;
      justify-content: space-between;

      .box1 {
        .title {
          font-size: 14px;
          font-weight: bold;
        }

        p {
          font-size: 12px;
          padding-top: 10px;

          .flex_t {
            width: 36px;
            display: inline-flex;
          }
        }
      }

      .box2 {
        &.crowds4 {
          div {
            &:nth-child(1) {
              background-color: #019201;
            }

            &:nth-child(2) {
              background-color: #F88509;
            }
          }
        }

        div {
          width: 90px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          font-size: 12px;
          color: #fff;
          border-radius: 10px;
          cursor: pointer;
          margin: 0 auto 20px;

          &.part_in {
            width: 150px;
          }

          &.info_btn {
            background-color: #A9AFAF;
          }

          &:nth-child(1) {
            background-color: #7e1102;
          }

          &:nth-child(2) {
            background-color: #01b0b7;
          }
        }
      }
    }

    .right_foot {
      display: flex;
      justify-content: space-between;

      .box1 {
        span {
          color: #666;
          margin-right: 20px;

          i {
            font-size: 20px;
            margin-right: 4px;
          }
        }
      }

      .box2 {
        font-size: 12px;
      }
    }
  }
}

.jubao_pl_com_sy {
  &.light {
    padding: 20px 40px;
  }

  .title {
    background-color: #999;
    color: #fff;
    text-align: center;
    padding: 3px 0;
    margin-bottom: 20px;
  }

  .el-checkbox {
    display: block;
    margin-bottom: 6px;
  }

  .photo {
    margin: 10px 0 60px;

    .st {
      padding: 4px 12px;
      margin-left: 20px;
    }
  }

  .p {
    font-size: 12px;
    line-height: 20px;
  }

  .pl_submit {
    text-align: center;
    margin: 20px 0;

    button {
      background-color: #01B0B7;
      color: #fff;
      padding: 8px 60px;
      border-radius: 10px;
    }
  }
}

.jubao_success_pl_sy {
  padding: 30px 0;
  text-align: center;

  p {
    font-size: 14px;
    line-height: 30px;
  }

  .el-button {
    margin-top: 30px;
    padding: 6px 40px;
    background-color: #06E3F5;
    color: #fff;
    border-radius: 10px;
  }

  .return_home {
    display: block;
    margin-top: 20px;
    color: #0008FF;
  }
}

.info_item_co_sy {
  position: relative;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

  .state_p {
    position: absolute;
    left: 0;
    top: 10px;
    background-color: #00966e;
    color: #fff;
    border-radius: 0 20px 20px 0;
    padding: 4px 20px;
  }

  .img {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &.big {
    .box {
      padding: 12px 16px 20px;
      background-color: #fff;
      color: #333;

      .title {
        font-size: 14px;
        padding-bottom: 10px;
        font-weight: bold;
      }

      p {
        padding-bottom: 10px;
        font-size: 12px;
      }

      .info {
        font-size: 12px;
      }
    }
  }

  .box {
    padding: 8px 10px;
    background-color: #fff;
    color: #333;

    .title {
      font-size: 14px;
      padding-bottom: 6px;
    }

    p {
      padding-bottom: 4px;
      font-size: 12px;
    }

    .info {
      font-size: 12px;
    }
  }
}

.title_p_com_cr_sy {
  padding: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.interflow_box_com_sy {
  .item {
    border-top: 2px dotted #999;
    padding: 10px 0 10px 30px;

    .name_time {
      padding-top: 14px;
    }

    .name_text {
      padding-top: 18px;
      padding-left: 20px;

      span {
        font-weight: bold;
        margin: 0 2px;
      }
    }

    .name_btn {
      padding-top: 10px;
    }

    p {
      text-align: center;

      &.p2 {
        font-size: 12px;
        margin-top: 3px;
      }
    }
  }
}

.submit_center_btn_sy {
  text-align: center;

  button {
    padding: 8px 40px;
    border-radius: 30px;
  }
}

.playing_dialog_com_sy {
  .el-dialog__header {
    padding: 0px 20px 0px;

    .el-dialog__title {
      font-size: 12px;
    }

    .el-dialog__headerbtn {
      top: 5px;
      right: 10px;
    }
  }

  .el-dialog__body {
    padding: 0;
  }
}

.share_w_q_com_sy {
  box-sizing: border-box;

  .item {
    border-bottom: 1px solid #999;
    vertical-align: middle;
    padding: 10px 0 6px;

    .iconfont {
      border: 1px solid #eee;
      border-radius: 50%;
      padding: 1px;
    }

    span {
      font-size: 12px;
      margin-left: 10px;
      position: relative;
      bottom: 8px;
    }
  }
}

.play_auto_com_sy {
  position: relative;

  .video {
    position: relative;

    img {
      width: 100%;
    }

    i {
      position: absolute;
    }

    .icon-quanping {
      right: 10px;
      top: 10px;
    }

    .el-icon-caret-right {
      background-color: #908f8f;
      color: #a2ccce;
      border-radius: 50%;
      font-size: 40px;
      padding: 6px;
      left: 50%;
      top: 50%;
      margin-top: -26px;
      margin-left: -26px;
    }
  }

  .time {
    padding: 6px 0 20px 40px;
    background-color: #eee;
  }

  .control {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    background-color: #999;

    .left {
      color: #000;
      padding: 20px 0;
    }

    .right {
      color: #000;
      padding: 16px 0;

      button {
        padding: 4px 20px;
        background-color: #2edaf0;
        border-radius: 8px;
        margin-right: 60px;
        color: #fff;
      }

      span {
        cursor: pointer;
        margin-right: 10px;

        i {
          margin-right: 3px;
        }
      }
    }
  }
}

.fenxiang_evm_pl_sy {
  text-align: center;

  .icon-erweima {
    font-size: 260px;
  }

  p {
    padding: 10px 0 40px;
  }
}

.left_menu_con_sy {
  border-right: 4px solid #ccc;
  padding: 4px 0 4px 10px;

  .item {
    cursor: pointer;
    margin-bottom: 20px;
    border-left: 6px solid transparent;
    padding: 2px 0 2px 12px;

    &.active, &:hover {
      border-left: 6px solid #b90000;
      color: #b90000;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.submit_blue_btn_sy {
  text-align: center;

  button {
    background-color: #01b0b7;
    color: #fff;
    padding: 4px 26px;
    border-radius: 20px;
  }

  .info_btn {
    background-color: #fff;
    color: #666;
    margin-right: 40px;
  }
}

.zh_sub_com_sy {
  background-color: #fff;
  border-radius: 8px;
  padding: 26px 30px 10px 30px;

  &.ad2 {
    .el-row {
      margin-bottom: 20px;
    }
  }

  .btn_default {
    padding: 2px 30px;
  }

  .el-row {
    &.pt {
      padding: 20px 0;
    }

    .n {
      font-size: 22px;
      color: #01b0b7;
    }

    .m {
      font-size: 22px;
      color: #ff0000;
    }

    input {
      width: 50%;
    }

    .btr {
      border-right: 3px dotted #ccc;
      padding: 5px 0;
    }

    .btn {
      padding: 9px 30px;
      border-radius: 20px;
      background-color: #f88f00;
      color: #fff;
    }
  }

  .tp {
    border-top: 1px solid #999;
    padding: 10px 0;
    color: #999;
    font-size: 10px;
  }
}

.show_list_com_sy {
  width: 243px;
  box-sizing: border-box;
  padding-bottom: 30px;
  background-color: #fff;

  .title_top {
    text-align: center;
    background-color: #999;
    padding: 10px 0;
    color: #fff;
    margin-bottom: 16px;
  }

  .el-row {
    line-height: 26px;
    cursor: pointer;

    .c_span {
      color: #666;
    }

    .title_span {
      font-weight: bold;
    }

    .t_right {
      padding-right: 6px;
    }

    .stateC {
      color: #0009e2;

      &.stateR {
        color: #f00;
      }
    }
  }

  .item {
    .child_nav:last-child {
      margin-bottom: 10px;
    }

    .active, :hover {
      background-color: #01b0b7;

      .c_span {
        color: #fff;
      }
    }
  }
}

.item_table_left_com_sy {
  box-sizing: border-box;
  font-size: 12px;
  border-left: 4px solid transparent;

  .title {
    font-size: 16px;
    border-bottom: 1px solid #999;
    width: 87%;
    padding: 10px 0px 10px 20px;
    margin-bottom: 4px;
  }

  .item_box {
    line-height: 24px;

    .orange {
      color: #f88f00;
    }

    .address {
      text-align: right;
      padding-right: 34px;
    }

    .text {
      padding-left: 20px;
    }
  }

  .more {
    text-align: right;
    color: #006cf9;
    padding: 14px 34px 16px 0;
  }
}

.item_card_com_sy {
  &.c1 {
    background: linear-gradient(90deg, #2f98f0, #fff);
  }

  &.c2 {
    background: linear-gradient(90deg, #44c4b6, #fff);
  }

  &.c3 {
    background: linear-gradient(90deg, #bc42ef, #fff);
  }

  padding: 30px 30px 16px 30px;
  box-sizing: border-box;

  .title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
  }

  p {
    color: #fff;
    line-height: 22px;

    span {
      margin-right: 8px;
    }
  }

  .right {
    padding-top: 24px;

    .round {
      width: 66px;
      height: 66px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  display: inline-flex;
  justify-content: space-between;
}

.part_list_com_sy {
  .title {
    padding: 8px 12px;
  }

  th {
    background-color: #eee;
    color: #000;
  }

  td {
    color: #001BE6;
    font-size: 12px;
  }
}

.pro_detail2_com_sy {
  .title {
    .left {
      font-size: 16px;
    }

    .right {
      i {
        color: #f88f00;
        margin-right: 6px;
      }

      span {
        color: #008e78;
        font-size: 12px;
      }
    }

    padding-bottom: 16px;
  }

  .p2 {
    span {
      font-size: 12px;
      color: #999;
      margin-right: 60px;
    }
  }

  .p3 {
    background-color: #ccc;
    padding: 10px 20px;
    margin-top: 16px;

    span {
      color: #999;
    }

    .red_b {
      color: #f00;
      border-bottom: 1px solid #f00;
    }
  }
}

.project_tabs_sy {
  &.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
    color: #fff;
    background-color: #01b0b7;
    border-right-color: #01b0b7;
    border-left-color: #01b0b7;
  }

  .project_p3 {
    .left {
      border-right: 3px solid #f88f00;
      width: 296px;
      padding: 10px 0;
      height: 490px;

      .p {
        margin-bottom: 10px;
      }
    }

    .right {
      width: 800px;
      padding-right: 40px;
      color: #133dea;
      line-height: 26px;

      .el-icon-arrow-down {
        font-size: 40px;
        color: #999;
        padding: 20px 0;
      }

      .t_de {
        color: #000;
      }
    }
  }

  .project_tab {
    padding: 2px 20px;

    &.man {
      height: 600px;
    }

    p {
      font-size: 12px;
      color: #666;
      line-height: 22px;
    }

    .top {
      margin-top: 20px;
    }

    .date {
      padding-left: 60px;
    }
  }
}

.check_btn_com_sy {
  .el-checkbox-button {
    &.is_focus {
      .el-checkbox-button__inner {
        border-color: 1px solid #dcdfe6;
      }
    }

    &.is-checked {
      .el-checkbox-button__inner {
        background-color: #fff;
        color: #f88509;
        border: 1px solid #f88509;
      }
    }

    .el-checkbox-button__inner {
      border-left: 1px solid #dcdfe6;
      border-radius: 6px;
      width: 60px;
      text-align: center;
      margin-right: 20px;
      box-shadow: none;
    }
  }
}

.table_img_text_sy {
  line-height: 30px;
  margin-bottom: 10px;

  img {
    margin-right: 10px;
  }

  .btn_p5 {
    &.hidden {
      visibility: hidden;
    }

    margin-left: 20px;
  }
}

.title_card_com_sy {
  .left {
    display: inline-flex;

    .text {
      padding-left: 26px;
      padding-top: 10px;

      h2 {
        font-weight: bold;
        padding-bottom: 10px;
      }

      p {
        font-size: 12px;
        color: #666;

        span {
          margin-right: 30px;
        }
      }
    }
  }

  .right {
    padding-top: 20px;

    .btn_p5 {
      width: 100px;
      margin-left: 20px;
    }
  }
}

.star_com_sy {
  padding-top: 10px;
  border-top: 1px solid #aaa;

  .left {
    div {
      display: inline-block;
    }

    .star {
      i {
        font-size: 36px;
        color: #A9683C;
      }

      padding: 0 20px 0 10px;
      border-right: 4px dotted #ccc;
      margin-right: 20px;
    }

    .img {
      font-size: 36px;
      margin-right: 8px;

      img {
        vertical-align: middle;
      }
    }
  }

  .right {
    line-height: 30px;

    i {
      margin: 0 6px 0 30px;
    }

    .icon-xing-copy {
      color: #F88F00;
      font-size: 22px;

      &.none {
        color: #ccc;
      }
    }

    .icon-pinglun {
      color: #666;
      font-size: 24px;
    }

    .icon-zan1 {
      color: #f00;
      font-size: 28px;

      &.none {
        color: #ccc;
      }
    }
  }
}

.person_info_crad_sy {
  padding: 20px 30px;

  &.mt20 {
    margin: 20px 0;
  }

  .left {
    width: 60px;
  }

  .right {
    width: 94%;

    .part1_p {
      .l {
        padding-top: 10px;
        font-size: 16px;
      }

      border-bottom: 1px solid #ccc;
      border-radius: 0;
      padding: 6px 0px 10px 20px;
    }

    .part2_p {
      color: #666;

      .l {
        padding: 10px 20px;

        p {
          line-height: 26px;
        }
      }

      .r {
        padding-top: 70px;
      }
    }
  }
}

.part_text_com_sy {
  padding: 10px 30px 20px;
  margin-top: 10px;

  .title_l {
    padding-bottom: 6px;
    padding-left: 20px;
    border-bottom: 1px solid #999;

    .left_c {
      font-weight: bold;
      font-size: 16px;
    }
  }

  .el-row {
    padding: 10px 20px 10px;
    line-height: 26px;

    .col_title {
      font-weight: bold;
    }
  }
}

.info_init_sy {
  padding: 10px 0;
  margin-bottom: 10px;
  padding: 20px;
  color: #666;

  .per_title {
    font-size: 16px;
    border-bottom: 1px solid #aaa;
    padding-bottom: 6px;
  }

  .info_init {
    padding: 20px 0 10px;
  }

  .p {
    line-height: 22px;
  }
}

.submit_btn_sy {
  text-align: center;

  &.mbt {
    margin-top: 20px;
    padding: 30px 30px 40px;
    border-top: 2px dotted #aaa;
  }

  &.or {
    button {
      background-color: #F88509;
    }
  }

  button {
    background-color: #01b0b7;
    padding: 4px 26px;
    font-size: 16px;
    color: #fff;
    border-radius: 20px;
  }
}

.acc_table_com_sy {
  .has-gutter {
    th {
      background-color: #999;
      color: #fff;
    }
  }

  .link {
    color: #0027FF;
    cursor: pointer;
  }
}

.title_return_com_sy {
  padding: 6px 0;
  margin-bottom: 6px;
  border-bottom: 1px solid #ccc;

  .left {
    font-size: 16px;
    color: #0d15e5;

    .r0 {
      margin: 0 8px;
      font-weight: bold;
    }

    .r1 {
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.acc_info_com_sy {
  border: 2px dotted #ccc;
  padding: 20px 0;
  color: #666;

  & > div {
    width: 50%;
    box-sizing: border-box;
    padding: 0 0 6px 30px;

    .title {
      margin-bottom: 10px;
    }

    p {
      padding-left: 20px;
      margin-bottom: 6px;
    }

    .btn_p3 {
      background-color: #eee;
    }
  }

  .a_l {
    border-right: 2px dotted #ccc;

    .t_center {
      padding-top: 30px;
    }
  }

  .a_r {
    .t_center {
      padding-top: 50px;
    }
  }
}

.public_from_com_sy {
  line-height: 32px;
  color: #666;

  p.info {
    line-height: 20px;
    font-size: 12px;
    color: #999;
  }

  .point_red {
    padding-right: 6px;
  }

  .el-row {
    margin-bottom: 10px;
  }

  .el-cascader {
    width: 100%;
  }
}

.pay_evm_com_sy {
  width: 468px;
  margin: 0 auto;
  padding-bottom: 10px;

  .item1 {
    width: 220px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;

    .box1 {
      padding: 40px 0px 12px;

      p {
        line-height: 22px;
        font-size: 16px;
        color: #fff;
      }

      img {
        width: 126px;
        margin-bottom: 6px;
      }
    }

    .box2 {
      padding: 6px 0;
      font-size: 16px;
      vertical-align: middle;

      .icon-zhifubao {
        font-size: 36px;
        color: #009bed;
      }

      .icon-weixin1 {
        font-size: 30px;
        color: #43af48;
      }

      i, span {
        display: inline-block;
        vertical-align: middle;
      }

      span {
        margin-left: 6px;
      }
    }
  }

  .i1 {
    background-color: #009bed;
  }

  .i2 {
    background-color: #43af48;
  }
}

.btn_selete_com_sy {
  width: 90px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  background-color: #eee;
  margin-right: 26px;
  color: #999;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;

  &.active {
    background-color: #baf9ae;
    color: #03740c;
    border: 1px solid #3cfb18;

    i {
      color: #3cfb18;
    }
  }

  i {
    position: absolute;
    right: -4px;
    bottom: -4px;
    line-height: 1;
    font-size: 38px;
    color: #aaa;
  }
}

.card_vote_com_sy {
  border-radius: 20px;
  overflow: hidden;

  .p0 {
    background-color: #666;
    padding: 16px 16px 10px;

    .img {
      background-color: #fff;
      padding: 6px;
    }

    .text {
      padding: 6px 10px;
      text-align: center;

      p {
        color: #e27100;
        line-height: 20px;
        font-size: 12px;

        &.pb {
          margin-bottom: 10px;
        }
      }
    }
  }

  .p1 {
    position: relative;

    .l_t {
      position: absolute;
      top: 0;
      left: 0;
      border-top: 20px solid #f88f00;
      border-bottom: 20px solid transparent;
      border-left: 26px solid #f88f00;
      border-right: 26px solid transparent;
    }
  }

  .p2 {
    padding: 8px;
    color: #999;

    i {
      margin-right: 6px;
    }

    span {
      font-size: 12px;
    }
  }

  .p3 {
    text-align: center;
    background-color: #00cdf2;
    color: #fff;
    padding: 4px 0;
  }
}

.item_img_t_com_sy {
  .img {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .p_t {
    padding: 6px;
  }

  .address {
    padding: 0 6px 6px;

    .l {
      font-size: 12px;
    }
  }
}

.shop_child_com_sy {
  display: flex;
  background-color: #fff;
  padding: 7px 0;
  box-sizing: border-box;
  justify-content: space-between;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: 10px;

  img {
    width: 100px;
  }

  .info {
    margin-top: 10px;
    width: 120px;

    p {
      color: #666666;
      margin-bottom: 4px;
    }

    .detail {
      width: 100px;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      font-size: 10px;

      .money {
        color: #ff0000;
      }

      .delete {
        text-decoration: line-through;
        margin-left: 6px;
        color: #999;
      }
    }
  }
}

// 卖家信息
.user_info_com_sy {
  padding: 10px 0 16px;

  .user_flex {
    display: flex;

    img {
      width: 60px;
      height: 60px;
    }

    .box {
      padding: 10px 4px 0;

      .name {
        padding-bottom: 8px;
      }

      .address {
        font-size: 12px;

        .guanzhu {
          margin-left: 30px;

          .num {
            color: #0644eb;
          }
        }
      }
    }
  }

  .find_msg {
    margin-top: 8px;
    padding-left: 20px;

    .true_name {
      font-size: 12px;
      color: #e58e03;

      i {
        margin-right: 4px;
      }
    }

    .guanzhu {
      background-color: #e58e03;
      color: #fff;
      padding: 2px 16px;
      border-radius: 12px;
      margin-left: 22px;
    }
  }
}

// 商品数量组件备用
.buy_num_history_sy {
  padding-top: 124px;

  .buy_num {
    font-size: 18px;
    color: #f88509;
  }

  .pay_nub_el {
    margin: 0 30px;
  }

  .store {
    font-size: 14px;
    color: #666;
  }

  .history {
    font-size: 14px;
    color: #0644eb;
    margin-left: 30px;
  }
}

.collect_sy {
  text-align: center;
  padding: 32px 0 0;

  span {
    background-color: #eee;
    color: #333;
    padding: 2px 6px;

    i {
      font-size: 14px;
      color: #666;
      margin-right: 6px;
    }
  }
}

.steps_num_com_sy {
  display: flex;
  padding: 20px 0 20px;

  &.small {
    .el-step__title {
      font-size: 12px;
    }
  }

  .s_l {
    width: 18%;
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
  }

  .s_r {
    width: 70%;
  }

  .el-step__icon {
    width: 40px;
    height: 40px;
  }

  .el-step__head.is-finish {
    color: #fff;

    .el-step__icon {
      background-color: #BC0000;
    }
  }

  .el-step.is-horizontal .el-step__line {
    top: 18px;
  }

  .el-step__head.is-finish {
    border-color: #BC0000;
  }

  .el-step__title.is-finish {
    color: #999;
    font-weight: bold;
  }

  .el-step__title.is-process {
    color: #999;
  }
}

.bg_detail_com_sy {
  background-color: #edf1ff;
  padding: 30px 0 40px;
  display: flex;

  .text_t {
    color: #999;
  }

  &.small {
    padding: 16px 0 16px;
    font-size: 12px;
    margin-bottom: 3px;

    img {
      width: 290px;
    }

    .info_l {
      margin-top: 6px;
    }

    .ss {
      width: 40px;
      display: inline-block;
      text-align: center;
      margin-right: 6px;
      margin-top: 16px;
    }

    .fwb {
      padding-left: 3px;
      font-weight: normal;
    }

    .cs {
      p {
        padding-left: 10px;
        font-size: 12px;
      }
    }

    p {
      line-height: 18px;
    }
  }

  .all_btn_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .all_btn {
      text-align: center;

      .el-button {
        margin: 6px 0 0 0;
        width: 92px;
        height: 20px;
        padding: 0;
        line-height: 18px;
        border: 1px solid #F88509;
        border-radius: 10px;
      }

      .bg_or_btn {
        background-color: #F88509;
        color: #fff;
      }

      .de_btn {
        border: 1px solid #999;
      }

      .or_btn {
        background-color: #fff;
        color: #F88509;
      }
    }
  }

  .fwb {
    padding-right: 3px;
  }

  .el-col:not(:first-child) {
    &:not(:last-child) {
      border-right: 1px solid #fff;
    }
  }

  // .el-col{
  // border-right 1px solid #fff
  // }
  p {
    line-height: 22px;
  }

  .cs {
    p {
      padding-left: 40px;
    }
  }

  .el-input-number--small {
    width: 100px;
    line-height: 18px;
  }

  .el-input-number--small .el-input-number__decrease, .el-input-number--small .el-input-number__increase {
    width: 20px;
  }

  .el-input--small .el-input__inner {
    height: 20px;
    line-height: 20px;
  }

  .el-input-number--small .el-input__inner {
    padding-left: 20px;
    padding-right: 20px;
  }

  .el-input-number--small {
    width: 80px;
  }
}

.title_hui_com_sy {
  padding: 10px 20px;
  background-color: #ddd;

  .icon-gouwucheman {
    color: #f00;
    margin-right: 10px;
  }

  .fwb {
    margin-right: 20px;
  }

  .red {
    margin-left: 5px;
  }
}

.info_success_com_sy {
  .fz18 {
    font-size: 18px;
  }

  .red {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: left;
  }
}

.edit_el_tabs_com_sy {
  position: relative;

  .paopao {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    .p {
      position: absolute;
      top: 2px;
      z-index: 2;
      background-color: #bc0000;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      border-radius: 50%;
      color: #fff;
      transform: scale(0.6);

      &:nth-child(1) {
        left: 290px;
      }

      &:nth-child(2) {
        left: 414px;
      }

      &:nth-child(3) {
        left: 566px;
      }

      &:nth-child(4) {
        left: 690px;
      }

      &:nth-child(5) {
        left: 820px;
      }

      &:nth-child(6) {
        left: 290px;
      }
    }
  }

  .el-tabs__header {
    background-color: #f3f3f3;
    padding-left: 90px;

    .el-tabs__active-bar {
      background: #03c1c9;
    }

    .el-tabs__item {
      font-size: 16px;

      // font-weight: bold;
      &:hover {
        color: #03c1c9;
      }

      padding: 0 40px;

      &.is-active {
        color: #03c1c9;
      }
    }
  }

  .title_d {
    color: #999;
    padding: 2px 0 4px;
    border-bottom: 2px dotted #ccc;
  }

  .personal_d {
    line-height: 30px;
    padding: 8px 0 8px 20px;

    span.yellow {
      margin: 0;
      background-color: #F2EB83;
      color: #0644EB;
      padding: 0 10px;
      font-size: 12px;
      border-radius: 10px;
    }

    &.bdts {
      border-top: 2px dotted #aaa;
    }

    span {
      margin: 0 20px 0 26px;
    }

    .blue2 {
      margin: 0;
    }

    i {
      color: #74c39b;
      font-size: 24px;
      line-height: 22px;
      background-color: #fff;
    }

    .time {
      font-size: 12px;
    }
  }
}

.person_msg_info_com_sy {
  background-color: #edf1ff;
  padding: 10px 20px 20px;
  margin-top: 10px;

  .title {
    color: #0644eb;
    margin-bottom: 12px;
    font-weight: bold;
  }

  .icon-weixin {
    color: #74c39b;
    font-size: 22px;
  }

  .lx {
    font-size: 10px;
    background-color: #e9e482;
    padding: 0 10px;
    border-radius: 10px;
  }

  .el-row {
    line-height: 30px;
  }
}

.vertical_steps_com_sy {
  padding-left: 120px;
  .mb16{
    margin-bottom :16px
  }
  .title {
    font-size: 16px;
    color: #666;
    font-weight: bold;
    padding: 40px 0;
    &.l{
      padding 40px 0 0px
    }
  }

  .el-step__head.is-finish {
    color: #999;
  }

  .el-step__title.is-finish {
    color: #999;
  }

  .el-step__description.is-finish {
    color: #999;
  }

  .el-step__head.is-finish {
    border-color: #999;
  }

  .el-step__head.is-process {
    color: #F88509;
  }
}

.tall_reason_com_sy {
  color: #666;
  padding: 20px 40px;

  .alone {
    font-weight: bold;
    margin-bottom: 40px;
  }

  

  &.bg_b {
    background-color: #EDF1FF;
    color: #8D0101;
  }

  &.small_el {
    .el-row {
      line-height: 30px;
      margin-bottom: 0px;

      .fwb {
        text-align: right;
        padding-right: 4px;
      }
    }
  }

  .el-row {
    line-height: 40px;
    margin-bottom: 10px;
  }

  .img_mr {
    margin-right: 30px;
  }
}
.el_rate_com_sy {
  .iconfont {
    font-size: 26px;
  }
  .el-rate {
    height: 32px;
    line-height: 32px;
  }
}
.appra_info_com_sy {
  display: flex;
  padding: 16px 20px;
  border: 1px solid #aaa;
  border-radius: 10px;
  margin-top: 10px;
  color: #666;
  .ap {
    display: flex;
    border-bottom: 1px dotted #aaa;
    margin-left: 16px;
    width: 800px;
    padding: 8px 0 9px;
    .p_t {
      font-size: 16px;
      margin-right: 30px;
    }
    .sm {
      font-size: 12px;
    }
  }
  .text_a {
    padding: 20px 0 10px 30px;
  }
}